<!DOCTYPE html>
<html lang="en">

<head>
    {{>headrlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main headr -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/about.png" alt="aboutimg" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p class="h3">A warm welcome DeveloperTM</p>
                        <h1>I'am Sultan Ahmed <span class="spancolor">Mern Stack Developer</span> <br> at DeveloperTM
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>